<div class="row new foo">
  <h1> New Phone Number</h1>
  <%= simple_form_for model do |f| %>
    <div class="row">
      <div class="col-sm-12">
	<%= f.input :phone_number, placeholder: "Phone Number", label: false %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
	<%= f.input :member_id, collection: members %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
	<%= f.submit 'Create Phone' %>
      </div>
    </div>
  <% end %>
</div>
