<div class="row new foo">
  <h1> Edit User</h1>
  <%= simple_form_for model do |f| %>
    <div class="row">
      <div class="col-sm-12">
	<%= f.input :firstname, placeholder: firstname, label: false %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
	<%= f.input :lastname, placeholder: lastname, label: false %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
	<%= f.input :email, placeholder: email, label: false %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
	<%= f.submit 'Edit User' %>
      </div>
    </div>
  <% end %>
</div>
