<div class="container">
  <div class="members">
    <table id="members" class="members-index">
      <tr>
	<th></th>
	<th>First</th>
	<th>Last</th>
	<th>Email</th>
      </tr>
      <% @model.each do |m| %>
	<tr id="member-<%= m.id %>">
	  <td class="member-link">
	    <%= link_to( "Show", m) %>
	  </td>
	  <td class="member-firstname">
	    <%= m.firstname %>
	  </td>
	  <td class="member-lastname">
	    <%= m.lastname %>
	  </td>
	  <td class="member-email">
	    <%= m.email %>
	  </td>
	</tr>
      <% end %>
    </table>
  </div>
</div>
