
<div class="row new foo">
  <h1> New User</h1>
  <%= simple_form_for model do |f| %>
    <div class="row">
      <div class="col-sm-12">
	<%= f.input :firstname, placeholder: "First Name", label: false %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
	<%= f.input :lastname, placeholder: "Last Name", label: false %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
	<%= f.input :email, placeholder: "email address", label: false %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
	<%= f.submit 'Create User' %>
      </div>
    </div>
  <% end %>

</div>
