<table class="member">
  <tr class="member-headers">
    <th>First</th>
    <th>Last</th>
    <th>Email</th>
  </tr>
  <tr>
    <td class="member-firstname"><%= firstname %></td>
    <td class="member-lastname"><%= lastname %></td>
    <td class="member-email"><%= email %></td>
  </tr>
</table>
