// Place all the styles related to the member controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.table {
  background-color: darkgray
}
.members {
    
}

.members-index {
  width: 200;
  padding: 20px;
  border-width: 10px;
  th {
      padding: 20px;
      
  }
}

.member-firstname {
  background-color: #FFF
}

.member-lastname {
  background-color: #EEE
}

.member-email {
  background-color: #FEE
}
